<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/images/logo.svg" />
        <title>Project Detail - Personal Web</title>
        <link rel="stylesheet" href="/assets/styles/all-page.css">
        <link rel="stylesheet" href="/assets/styles/detail.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0a1c7b5f76.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- NavBar -->
        <nav>
            <div class="nav-body">
                <div class="left">
                    <img src="/assets/images/bahrul.svg" alt="logo">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        {{#if isLogin}}
                        <li>
                            <a href="/project">Add Project</a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="/testimonials">Testimonials</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <a class="contact" href="/contact">Contact Me</a>
                    {{#if isLogin}}
                    <a class="auth" href="/logout"><i class="fa-solid fa-circle-user fa-xl"></i> Logout</a>
                    {{else}}
                    <a class="auth" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                    {{/if}}
                    <button class="dropdown-button" onclick="toggleDropdown()">
                        <i class="fa-duotone fa-solid fa-bars fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="hide" id="dropdown-nav-menu">
                <a href="/" class="dropdown-nav-list">Home</a>
                {{#if isLogin}}
                <a href="/project" class="dropdown-nav-list">Add Project</a>
                {{/if}}
                <a href="/testimonials" class="dropdown-nav-list">Testimonials</a>
                <a href="/contact" class="contact-me-nav">Contact Me</a>
                {{#if isLogin}}
                <a  class="dropdown-nav-list" href="/logout"><i class="fa-solid fa-circle-user"></i> Logout</a>
                {{else}}
                <a  class="dropdown-nav-list" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                {{/if}}
            </div>
        </nav>

        <!-- Content -->
        <div class="project-detail">
            <h1>{{data.title}}</h1>
            <p class="developer">Developed by {{data.developer}}</p>
            <div class="project-content">
                <img class="detail-img" src="/file-uploads/{{data.image}}" alt="project image">
                <div class="detail-data">
                    <div>
                        <h2>Duration</h2>
                        <p><i class="fa-solid fa-calendar-days fa-xl"></i>{{data.start_date}} - {{data.end_date}}</p>
                        <p><i class="fa-solid fa-stopwatch fa-xl"></i>{{data.duration_time}}</p>
                    </div>
                    <div class="tech">
                        <h2>Technologies</h2>
                        <div class="tech-icon">
                            {{#each data.technologies}}
                            <div>
                                <img src="/assets/icon/{{this}}.png" alt="{{this}}"/>
                                <p>{{this}}</p>
                            </div>
                            {{/each}}
                            {{!-- <div>
                                <img src="/assets/icon/nodejs.png" alt="nodejs"/>
                                <p>Node Js</p>
                            </div>
                            <div>
                                <img src="/assets/icon/javascript.png" alt="javascript"/>
                                <p>JavaScript</p>
                            </div>
                            <div>
                                <img src="/assets/icon/socket.png" alt="socket io"/>
                                <p>Socket IO</p>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
            <p class="project-description">{{data.description}}</p>
        </div>
    </body>
    <script src="/assets/script/navbar.js"></script>
</html>