<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./assets/images/logo.svg" />
        <title>Personal Web</title>
        <link rel="stylesheet" href="./assets/styles/all-page.css">
        <link rel="stylesheet" href="/assets/styles/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0a1c7b5f76.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- NavBar -->
        <nav>
            <div class="nav-body">
                <div class="left">
                    <img src="./assets/images/bahrul.svg" alt="logo">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        {{#if isLogin}}
                        <li>
                            <a href="/project">Add Project</a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="/testimonials">Testimonials</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <a class="contact" href="/contact">Contact Me</a>
                    {{#if isLogin}}
                    <a class="auth" href="/logout"><i class="fa-solid fa-circle-user fa-xl"></i> Logout</a>
                    {{else}}
                    <a class="auth" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                    {{/if}}
                    <button class="dropdown-button" onclick="toggleDropdown()">
                        <i class="fa-duotone fa-solid fa-bars fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="hide" id="dropdown-nav-menu">
                <a href="/" class="dropdown-nav-list">Home</a>
                {{#if isLogin}}
                <a href="/project" class="dropdown-nav-list">Add Project</a>
                {{/if}}
                <a href="/testimonials" class="dropdown-nav-list">Testimonials</a>
                <a href="/contact" class="contact-me-nav">Contact Me</a>
                {{#if isLogin}}
                <a  class="dropdown-nav-list" href="/logout"><i class="fa-solid fa-circle-user"></i> Logout</a>
                {{else}}
                <a  class="dropdown-nav-list" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                {{/if}}
            </div>
        </nav>

        <!-- Content -->
        <div class="content">
            <div class="card">
                <div class="card-description">
                    <div>
                        <h1>Hi Welcome to my hut</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <button class="card-button-a">contact</button>
                    <button class="card-button-b">download CV<i class="fa-solid fa-download"></i></button>
                    <div class="social-media">
                        <a href="https://www.linkedin.com/in/mhmdbahrul/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/denbahrul"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/mhmdbhrul__/"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.facebook.com/muhammad.b.ulum2/"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
                <div class="img-card">
                    <img 
                        src="./assets/images/me.jpg"
                        alt="Profil Image" 
                    />
                    <div>
                        <h2>Muhammad Bahrul 'ulum</h2>
                        <p>Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project List -->
        <div class="project-body">
            <h1>MY PROJECT</h1>
            <div class="project-list" id="content">
    
                {{#each data}}
                    <div class="project-card">
                        <img src="/file-uploads/{{this.image}}" class="card-image" alt="image card">
                        <a class="project-title" href="./project-detail/{{this.id}}">
                            <h2>{{this.title}}</h2>
                        </a>
                        <p class="duration">durasi : {{this.duration_time}}</p>
                        <p class="description">{{this.description}}</p>
                        <p class="dev-by">Developed by {{this.developer}} </p>
                        <div class="card-icon">
                            {{#each this.technologies}}
                            <img src="./assets/icon/{{this}}.png" alt="{{this}}">
                            {{/each}}
                            {{!-- <img src="./assets/icon/android.png" alt="android">
                            <img src="./assets/icon/java.png" alt="java"> --}}
                        </div>
                        {{#if ../isLogin}}
                        <div class="myproject-button">
                            <a href="/edit-project/{{this.id}}">edit</a>
                            <a href="./delete-project/{{this.id}}" role="button">delete</a>
                        </div>
                        {{/if}}
                    </div>
                {{/each}}

            </div>
        </div>
    </body>
    <script src="./assets/script/navbar.js"></script>
    {{!-- <script src="./assets/script/project.js"></script> --}}
</html>